

* { 
    box-sizing: border-box; 
    margin: 0; 
    } 
    *::after,  *::before { 
        box-sizing: border-box; 
        
        } 
    span, a, label { 
    display: inline-block; 
    } 
    img { 
     max-width: 100%; 
    }
  .box{
    width: 40%;
  }
  .img{
   width: 90%;
  
  }
  .imgbox{
    z-index: 1;
   cursor: pointer;
   text-transform: capitalize;
  }
  
  .all{
    padding: 150px 300px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
  }
  .box{
    position: relative;
    align-items: center;
    text-align: center;
  }

  .box1{
    background-color: blue;
   width: 100%;
  padding-top: 350px;
   position: absolute;
   top: 20px;
   margin-top: 20px;
 text-align: center;
z-index: -1;
transform: scale(0);
transition: 0.2s all linear;
  }
  
  .box:hover .box1{
 transform: scale(1.1);
    left: 0;
    transition: 0.2s all linear;
  }
  .btn{
    width: 100%;
    background-color: black;
    border: none;
    color: white;
  }